*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}

nav, footer{
    height: 10%;
}
.general{
    height: 80%;
}
.vacio, .barra-uno, .barra{
    height: 8%;
}
.perfil{
    height: 15%;
}
.modulo{
    height: 25.6%;
}
.principal{
    height: 84%;
}


