*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.border{
    border: 1px solid gray;
} 
.contenedor {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    height: 100vh;
}
.general{
    height: 80%;
}

nav{
    width: 100%;
    height: 10%;
    background-color: #9381FF;
}

.columna-izq{
    width: 20%;
    height: 100%;
    float: left;
}

.vacio{
    background-color: #1F2041;
    width: 100%;
    height: 5%;
}
.perfil{
    width: 100%;
    height: 20%;
    background-color: #B8B8FF;
}
.modulo{
    width: 100%;
    height: 25%;
    background-color: #4B3F72;
}

.columna-der{
    width: 80%;
    height: 100%;
    float: left;
}

.barra-uno{
    width: 100%;
    height: 5%;
    background-color: #1F2041;
}   
.barra{
    width: 100%;
    height:10%;
    background-color: #1F2041;
}   
.principal{
    width: 100%;
    height:85%;
    background-color: #fff;
}

.footer{
    height: 10%;
}
.footer-uno{
    width: 20%;
    height: 10vh;
    float: left;
    background-color: #9381FF;
}
.footer-dos{
    width: 80%;
    height: 10vh;
    float: left;
    background-color: #9381FF;
}

    @media (max-width: 576px) {
        .contenedor {
            height: auto;
            min-height: 100vh;
        }

        .general {
            height: auto;
            width: 100%;
            overflow: hidden;
        }

        .general::after {
            content: "";
            display: table;
            clear: both;
        }

        .columna-izq {
            width: 100%;
            height: auto;
            float: none;
            display: block;
        }

        .columna-der {
            width: 100%;
            height: auto;
            float: none;
            display: block;
        }

        .vacio, .barra-uno {
            height: 25px;
        }

        .perfil {
            height: 50px;
        }

        .modulo {
            height: 40px;
        }

        .barra {
            height: 40px;
        }

        .principal {
            height: 250px;
        }

        .footer {
            height: auto;
            clear: both;
            width: 100%;
            position: static;
            overflow: hidden;
        }

        .footer::after {
            content: "";
            display: table;
            clear: both;
        }

        .footer-uno {
            width: 100%;
            height: 30px;
            float: none;
            display: block;
        }

        .footer-dos {
            width: 100%;
            height: 25px;
            float: none;
            display: block;
        }
    }
