*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.border{
    border: 1px solid gray;
}

.titulo{
    height: 50px;
    text-align: center;
}
h1{
    text-align: center;
}

.contenedor {
    width: 100%;
    max-width: 1280px;
    margin: auto;
}
nav{
    height: 70px;
}

.logo{
    width: 15%;
    height: 100%;
    float: left;
}

.menu{
    width: 65%;
    height: 100%;
    float: left;
}

.ingreso{
    width: 20%;
    height: 100%;
    float: left;
}

header, section {
    height: 500px;
}
.portafolio{
    width: 100%;
}
.port-izq, .port-cnt, .port-der {
    width: 33.33%;
    height: 100%;
    float: left;
}
.nosotros{
    width: 100%;
}
.port-izq-nosotros, .port-der-nosotros {
    width: 40%;
    height: 33.33%;
    float: left;
}
.port-cnt-nosotros {
    width: 20%;
    height: 33.33%;
    float: left;
}

.port-izq-contacto {
    width: 50%;
    height: 100%;
    float: left;
}
.ubicaciones{
    height: 100%;
}
.port-der-uno-contacto {
    width: 50%;
    height: 60%;
    float: left;
}
.port-der-dos-contacto {
    width: 50%;
    height: 40%;
    float: left;
}
footer{
    height: 70px;
    
}

/*Responsive design tablet */
@media (max-width: 992px) {
    nav{
        min-height: 10%;
    }
    .logo{
        width: 100%;
    }
    .menu{
        width: 60%;    
    }
    .ingreso{
        width: 40%; 
    }
    .port-izq {
        width: 100%;
        height: 40%;
    }
    .port-cnt, .port-der {
        width: 50%;
        height: 60%;
    }
    .port-izq-contacto {
        width: 100%;
        height: 50%;
    }
    .ubicaciones {
        width: 100%;
        height: 50%;
    }
    .port-der-uno-contacto, .port-der-dos-contacto {
        width: 50%;
        height: 100%;
    }
}

/* celular */
@media (max-width: 576px) {
    nav{
        height: auto;
    }
    .logo, .menu, .ingreso{
        width: 100%;
        height: 60px;
        float: none;
    }
    
    .port-izq, .port-cnt, .port-der {
        width: 100%;
        height: 33.33%;
        float: none;
    }
    .port-izq-nosotros, .port-cnt-nosotros, .port-der-nosotros {
        width: 100%;
        height: 11.11%;
        float: none;
    }
    .port-izq-contacto {
        width: 100%;
        height: 50%;
        float: none;
    }
    .ubicaciones {
        width: 100%;
        height: 50%;
        float: none;
    }
    .port-der-uno-contacto, .port-der-dos-contacto {
        width: 100%;
        height: 50%;
        float: none;
    }
}