*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.border{
    border: 1px solid gray;
}
.titulo{
    height: 70px;
    text-align: center;
}
.contenedor{
    width: 95%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
nav{
    height: 70px;
    display: flex;
    flex-flow: row nowrap;
}
.logo{
    flex: 20%;
}
.menu{
    flex: 65%;
}
.ingreso{
    flex: 15%;
}
header, section{
    height:500px
}
.Portafolio{
    display: flex;
    flex-flow: row nowrap;
}
.port-izq, .port-cnt, .port-der{
    flex:1;
}

.nosotros {
    display: flex;
    flex-wrap: wrap;
}

.port-izq-nosotros,
.port-der-nosotros {
    min-width: 40%; 
    box-sizing: border-box;
}

.port-cnt-nosotros {
    min-width: 20%;
    box-sizing: border-box;
}

.contacto{
    display: flex;
    flex-flow: row nowrap;
}
.port-izq-contacto{
    flex:1;
}

.ubicaciones{
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}
.port-der-uno-contacto {
    flex:2;
}
.port-der-dos-contacto{
    flex:1;
}

/* TABLET */
@media (max-width: 992px) {
    nav{
        height: 100px;
        flex-flow: row wrap;
    }
    .logo{
        flex: 100%;
    }
    .menu{
        flex: 65%;    
    }
    .ingreso{
        flex: 15%;    
    }   
    .Portafolio{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    }
    .port-izq {
        flex: 100%;
    }
    .port-cnt, .port-der {
        flex: 50%;
    }
    .contacto{
        display: flex;
        flex-flow: column wrap;
    }
    .port-izq-contacto {
        flex: 50%;
    }
    .ubicaciones{
        flex: 50%;
        height: 50%;
        display: flex;
        flex-flow: row nowrap;
    }

}

/* CELULAR */
@media (max-width: 576px) {
    nav{
        height: 100px;
    }
    .logo, .menu, .ingreso{
        flex: 100%;        
    }
    .Portafolio{
        flex-flow: column nowrap;
    }
    .port-izq, .port-cnt, .port-der {
        flex: 100%;
    }
    .nosotros{
        flex-flow: column nowrap;
    }
    .port-izq-nosotros, .port-cnt-nosotros, .port-der-nosotros {
        flex: 100%;
    }
    .contacto{
        flex-flow: column nowrap;
    }
    .ubicaciones {
        flex-flow: column nowrap;
    }
}